<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MeVaBeProject.Properties.Settings.MeVaBeDBConnectionString"
            connectionString="Data Source=MSI;Initial Catalog=MeVaBeDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MeVaBeProject.Properties.Settings.MeVaBeDBConnectionString1"
            connectionString="Data Source=ADMIN-PC;Initial Catalog=MeVaBeDB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- Đặt mã văn hóa mong muốn, ví dụ: vi-VN cho tiếng Việt hoặc en-US cho tiếng Anh (Hoa Kỳ) -->
		<add key="DefaultCulture" value="vi-VN" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>