<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- Đặt mã văn hóa mong muốn, ví dụ: vi-VN cho tiếng Việt hoặc en-US cho tiếng Anh (Hoa Kỳ) -->
		<add key="DefaultCulture" value="vi-VN" />
	</appSettings>
</configuration>